:root {
  --app-height: auto;
}

body {
  margin: 0;
}

.main {
  &__paper {
    &.MuiPaper-root {
      min-height: var(--app-height);
      padding-left: 56px;
      border-radius: 0;

      &.main_touchscreen {
        padding-left: 0;
      }
    }
  }

  &__error {
    padding: 1em;
    text-align: center;
    height: calc(100vh - 16px);
    background-image: url(/src/assets/images/main/404.images.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}