.sidebar {
  &__drawer {
    &.sidebar_desktop {
      & .MuiDrawer-paper {
        overflow-x: hidden;
        justify-content: space-between;
        width: 56px;
        transition: width .13s;
        box-sizing: border-box;
      }

      &.sidebar_opened {
        & .MuiDrawer-paper {
          width: 277px;
        }
      }
    }

    &.sidebar_touchscreen {
      width: 100vw;

      & .MuiDrawer-paper {
        justify-content: space-between;
        width: 100vw;
      }
    }
  }

  &__fab {
    &.MuiFab-root {
      position: fixed;
      right: 2rem;
      bottom: 4rem;
      z-index: 1201;
    }
  }

  &__list {
    &-bottom {
      & .MuiListItem-root {
        padding-bottom: 0;
      }
    }
  }

  &__item {
    &.MuiListItem-root {
      padding-left: 0;
      padding-right: 0;
    }

    &-text {
      padding-right: 1em;

      &.MuiListItemText-root {
        visibility: hidden;
        width: 0;
        opacity: 0;
        margin-top: 0;
        margin-bottom: 0;
        white-space: nowrap;
        transition: width .13s, opacity .13s;
      }
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      &_clickable {
        cursor: pointer;
        &:active {
          transform: translateY(1px);
        }
      }
    }

    &-button {
      &.MuiListItemButton-root {
        padding-left: 0;
      }
    }
  }

  &_opened {
    & .sidebar__item-text {
      &.MuiListItemText-root {
        visibility: visible;
        width: 100%;
        opacity: 1;
      }
    }
  }

  &__toggle {
    &-group.MuiToggleButtonGroup-root {
      vertical-align: middle;
    }

    &-button.MuiButtonBase-root {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}